# Microsoft OneDrive Integration
MS_CLIENT_ID=4afbbdd0-3c97-466b-99d3-70415fd20530
MS_CLIENT_SECRET=861545da-9d9e-4baa-afef-cbd3c1edbeb8
MS_REDIRECT_URI=https://ais-dev-j3y3dzsggf3z2b6aw4ycg4-270809794219.asia-east1.run.app/api/auth/onedrive/callback
